revolution/etc/application.xml

<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type="text/xsl" href="wadl.xsl"?> 
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://wadl.dev.java.net/2009/02 wadl.xsd"
 xmlns:html="http://www.w3.org/1999/xhtml"
 xmlns="http://wadl.dev.java.net/2009/02">
    <doc title="Zino API">
		<html:p>This is a description of the Application Programming Interface provided by Zino social network. With this API any program
		has easy access to the information of Zino.</html:p>
		<html:p>We do our best to follow the REST architecture. Our data is organized in resources, with each resource having a specific
		URI. You can access and alter these resources with HTTP GET, POST, PUT, and DELETE requests. The server always replies with
		an XML describing the requested information.</html:p>
	</doc>
    <grammars>
        <include href="http://alpha.zino.gr/abresas/etc/social.xsd">
            <doc xml:lang="en" title="Use of social.xsd">
            The social.xsd file is provided to describe the XML response of the web service,
            when the request was valid and the service replied with a HTTP 200 status.
            </doc>
        </include>
        <!--
        <include href="http://alpha.zino.gr/abresas/error.xsd">
            <doc xml:lang="en" title="Use of error.xsd">
            The error.xsd file is provided to describe the XML response when the request was invalid
            and the web service replied with an HTTP error status, e.g. 400 (not found)
            </doc>
        </include>
        -->
    </grammars>
    <representation id="socialResponse" mediaType="application/xml" element="social" />
    <resources base="http://alpha.zino.gr/abresas/">
        <resource path="photos">
			<doc xml:lang="en" title="Photo resource">
			The photo resource describes an user uploaded photo. The server holds information about the image file like width, height, and size,
			and also about the social data like comments and favourites.
			</doc>
            <method name="GET">
                <doc xml:lang="en" title="View">Passing an id parameter to a GET request gives information about a specific photo</doc>
                <request>
                    <param name="id" type="xsd:positiveInteger" style="query" required="true" />
                    <param name="user" type="xsd:string" style="query" />
                    <param name="commentpage" type="xsd:positiveInteger" style="query" default="1" />
                </request>
                <response status="200">
                    <representation ref="socialResponse" />
                </response>
                <response status="400">
                    <!-- <representation mediaType="application/xml" element="error" /> -->
                </response>
            </method>
            <method name="GET">
                <doc xml:lang="en" title="List">
                When no id is passed, information about a list of photos will be returned. 
                By default this list is the latest uploaded photographs.
                </doc>
                <request>
                </request>
            </method>
            <method name="POST">
                <doc xml:lang="en" title="Create">Creates a new photo within the specified albumid.</doc>
                <request>
                    <param name="albumid" type="xsd:positiveInteger" style="query" required="true" />
                    <param name="typeid" type="xsd:positiveInteger" style="query" required="true" />
                </request>
                <response status="200">
                    <doc title="Valid request response">
                    If the request was valid, server replies with an HTTP 200 header, and provides information about the new image.
                    </doc>
                    <representation ref="socialResponse" />
                </response>
            </method>
            <method name="DELETE">
                <request>
                    <param name="id" type="xsd:positiveInteger" style="query" required="true" />
                </request>
                <doc xml:lang="en" title="Delete">
                Delete the specified photo from the database. No information about it should remain in the server,
                except only as a cache for a limited time.</doc>
                <response status="200">
                    <representation ref="socialResponse" />
                </response>
                <response status="400">
                    <!-- <representation mediaType="application/xml" element="error" /> -->
                </response>
            </method>
            <method name="PUT">
                <doc xml:lang="en" title="Update">
                Update the photo information.
                </doc>
                <request>
                    <param name="id" type="xsd:positiveInteger" style="query" required="true" />
                    <param name="userid" type="xsd:positiveInteger" style="header" />
                </request>
                <response status="200">
                    <representation ref="socialResponse" />
                </response>
            </method>
        </resource>
        <resource path="journals">
            <method name="GET">
                <doc xml:lang="en" title="View">View information about a specific journal.</doc>
                <request>
                    <param name="id" type="xsd:positiveInteger" style="query" required="true" />
                    <param name="userid" type="xsd:positiveInteger" style="query" />
                    <param name="commentpage" type="xsd:positiveInteger" style="query" />
                </request>
                <response status="200">
                    <representation ref="socialResponse" />
                </response>
            </method>
            <method name="GET">
                <doc xml:lang="en" title="List">View information about a collection of journals.</doc>
                <response status="200">
                    <representation ref="socialResponse" />
                </response>
            </method>
        </resource>
    </resources>
</application>
